{% extends "site/base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

    <h1>Edit Profile</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <div class="container">
      <div class="span5 offset3">
        <div class="well">
          <div style="color: red;">
            AUTH = {{ user.is_authenticated }}
          </div>
          <form action="" method="post">
            <div class="field">
              {{ form.first_name.errors }}
              <label for="id_first_name">First Name:</label>
              {{ form.first_name }}
            </div>
            <div class="field">
              {{ form.last_name.errors }}
              <label for="id_last_name">Last Name:</label>
              {{ form.last_name }}
            </div>
            <div class="field">
              {{ form.location.errors }}
              <label for="id_location">Location:</label>
              {{ form.location }}
            </div>
            <div class="field">
              {{ form.genres.errors }}
              <label for="id_genre">Genres:</label>
              {{ form.genres }}
            </div>
            <div class="field">
              {{ form.instruments.errors }}
              <label for="id_message">Instruments:</label>
              {{ form.instruments }}
            </div>
            <div class="field">
              {{ form.sc_links.errors }}
              <label for="id_message">Soundcloud Links:</label>
              {{ form.sc_links }}
            </div>
            <div class="field">
              {{ form.quote.errors }}
              <label for="id_message">Quote:</label>
              {{ form.quote }}
            </div>
            {% csrf_token %}
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}