{% extends "site/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
	<div class="row-fluid well">
		<div class="span12 offset">
	  		<h1>
	  			Sign-up
	  		</h1>
	  		<p>
	  			Welcome to Wes Jam! Sign up through Google or Facebook to start doing things. Don't worry, it's just for authentication, not going to post anything on your Facebook wall or spam your email. Once you've signed in, create a profile and search away!
	  		<p>
	  		<a class="brand" href="/login/facebook">FB Login</a>
            <a class="brand" href="/login/google">Google Login</a>		
	  	</div>
	</div>
{% endblock %}