{% extends "site/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<!-- Each field’s widget (<input type="text">, <select>, <textarea>, etc.) can be rendered individually by accessing {{ form.fieldname }} in the template, and any errors associated with a field are available as {{ form.fieldname.errors }}. With this in mind, we can construct a custom template for our contact form with the following template code: -->

<div class="span12 offset5">
  <h1>Contact us</h1>

  {% if form.errors %}
      <p style="color: red;">
          Please correct the error{{ form.errors|pluralize }} below.
      </p>
  {% endif %}

  <form action="" method="post">
      <div class="field">
      	{{ form.subject.errors }}
      	<label for="id_subject">Subject:</label>
      	{{ form.subject }}
      </div>
      <div class="field">
      	{{ form.email.errors }}
      	<label for="id_email">Your e-mail address:</label>
      	{{ form.email }}
      </div>
      <div class="field">
      	{{ form.message.errors }}
      	<label for="id_message">Message:</label>
      	{{ form.message }}
      </div>
      {% csrf_token %}
      <input type="submit" value="Submit">
  </form>
</div>
{% endblock content %}